<table border="1" width="80%">
    <tr>
        <td width="180px">
            <table>
                <tr>
                    <td>
                        <p>${auth_block}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Menu</h3>
                        <p>${menu}</p>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <p>${group_content}</p>
        </td>
    </tr>
</table>