<form action="/signin" enctype="text/plain" method="post" name="signin" target="_self">
    <table border="0">
        <tr>
            <td>Login:</td>
            <td>
                <input maxlength="10" name="login" size="10" type="text" value="" />
            </td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>
                <input maxlength="10" name="password" size="10" type="password" value="" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="SignIn">
            </td>
            <td>

            </td>
        </tr>
    </table>
</form>